<!DOCTYPE html>

<html>

<head>
	<meta charset='UTF-8'>
	<title> ML API </title>
	
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <style> 
  
  ::placeholder {
	color: white;
	opacity: 1; /* Firefox */
	}
  
	input[type=text] {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  text-align:center;
	  box-sizing: border-box;
	  border: none;
	  background-color: #3CBC8D;
	  color: white;
	}
	button[type=submit] {
	  background-color: #008CBA; /* Blue */
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	}
	
	p {
		text-align: center;
		font-size: 160%;"
		}
	</style>
	
</head>

<body>
	<div class="login">
		<h1> Predict Connection Type</h1>
		
		<!-- Main Input For Receiving Query to our ML -->
		
		<form action="{{ url_for('predict')}}"method="post">
			
			<input type="text" name="duration" placeholder="Duration" required="required" />
			<input type="text" name="src_bytes" placeholder="Source Bytes" required="required" />
			<input type="text" name="dst_bytes" placeholder="Destinaiton Bytes" required="required" />
			<input type="text" name="land" placeholder="Land" required="required" />
			<input type="text" name="wrong_fragment" placeholder="Wrong Fragment" required="required" />
			<input type="text" name="urgent" placeholder="Urgent" required="required" />
			<input type="text" name="hot" placeholder="Hot" required="required" />
			<input type="text" name="num_failed_logins" placeholder="Number of Failed Logins" required="required" />
			<input type="text" name="logged_in" placeholder="Logged In" required="required" />
			<input type="text" name="num_compromised" placeholder="Number Comprised" required="required" />
			<input type="text" name="root_shell" placeholder="Root Shell" required="required" />
			<input type="text" name="su_attempted" placeholder="SU Attempted" required="required" />
			<input type="text" name="num_root" placeholder="Number root" required="required" />
			<input type="text" name="num_file_creations" placeholder="num_file_creations" required="required" />
			<input type="text" name="num_shells" placeholder="num_shells" required="required" />
			<input type="text" name="num_access_files" placeholder="num_access_files" required="required" />
			<input type="text" name="is_host_login" placeholder="is_host_login" required="required" />
			<input type="text" name="is_guest_login" placeholder="is_guest_login" required="required" />
			<input type="text" name="count" placeholder="count" required="required" />
			<input type="text" name="srv_count" placeholder="srv_count" required="required" />
			<input type="text" name="serror_rate" placeholder="serror_rate" required="required" />
			<input type="text" name="srv_serror_rate" placeholder="srv_serror_rate" required="required" />
			<input type="text" name="rerror_rate" placeholder="rerror_rate" required="required" />
			<input type="text" name="srv_rerror_rate" placeholder="srv_rerror_rate" required="required" />
			<input type="text" name="same_srv_rate" placeholder="same_srv_rate" required="required" />
			<input type="text" name="diff_srv_rate" placeholder="diff_srv_rate" required="required" />
			<input type="text" name="srv_diff_host_rate" placeholder="srv_diff_host_rate" required="required" />
			<input type="text" name="dst_host_count" placeholder="dst_host_count" required="required" />
			<input type="text" name="dst_host_srv_count" placeholder="dst_host_srv_count" required="required" />
			<input type="text" name="dst_host_same_srv_rate" placeholder="dst_host_same_srv_rate" required="required" />
			<input type="text" name="dst_host_diff_srv_rate" placeholder="dst_host_diff_srv_rate" required="required" />
			<input type="text" name="dst_host_same_src_port_rate" placeholder="dst_host_same_src_port_rate" required="required" />
			<input type="text" name="dst_host_srv_diff_host_rate" placeholder="dst_host_srv_diff_host_rate" required="required" />
			<input type="text" name="dst_host_serror_rate" placeholder="dst_host_serror_rate" required="required" />
			<input type="text" name="dst_host_srv_serror_rate" placeholder="dst_host_srv_serror_rate" required="required" />
			<input type="text" name="dst_host_rerror_rate" placeholder="dst_host_rerror_rate" required="required" />
			<input type="text" name="dst_host_srv_rerror_rate" placeholder="dst_host_srv_rerror_rate" required="required" />
			<input type="text" name="protocol_type" placeholder="protocol_type" required="required" />
			<input type="text" name="service" placeholder="Service" required="required" />
			<input type="text" name="flag" placeholder="Flag" required="required" />

			<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
		</form>
		
		<br>
		<br>
		<br>
		
		<p>{{ prediction_text }} </p>
		
	</div>
</body>
</html>
			
			
			
			
<!--Index(['duration', 'src_bytes', 'dst_bytes', 'land', 'wrong_fragment',
       'urgent', 'hot', 'num_failed_logins', 'logged_in', 'num_compromised',
       'root_shell', 'su_attempted', 'num_root', 'num_file_creations',
       'num_shells', 'num_access_files', 'is_host_login', 'is_guest_login',
       'count', 'srv_count', 'serror_rate', 'srv_serror_rate', 'rerror_rate',
       'srv_rerror_rate', 'same_srv_rate', 'diff_srv_rate',
       'srv_diff_host_rate', 'dst_host_count', 'dst_host_srv_count',
       'dst_host_same_srv_rate', 'dst_host_diff_srv_rate',
       'dst_host_same_src_port_rate', 'dst_host_srv_diff_host_rate',
       'dst_host_serror_rate', 'dst_host_srv_serror_rate',
       'dst_host_rerror_rate', 'dst_host_srv_rerror_rate', 'protocol_type',
       'service', 'flag'],
      dtype='object') -->

	
  